
<div class="container">
    <div class="hotels">
        <h3>Select Hotel</h3>
        <mat-selection-list (selectionChange)="onSelect(selected)" #selected>
            <ng-container *ngFor="let hotel of hotels">
                <mat-list-option [value]="hotel.Id">{{ hotel.HotelName }}</mat-list-option>
            </ng-container>
        </mat-selection-list>            
    </div>
</div>
