<div id="contact" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="map">
                    <img src="img/map.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                  <form id="contact" [formGroup]="form">
                    <div class="col-md-6">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Your name..." required formControlName = "name" >
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input type="email" class="form-control" placeholder="Your email..." required formControlName = "email">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea rows="6" class="form-control" placeholder="Your message..." required formControlName = "message"></textarea>
                      </fieldset>
                    </div>

                    <hr/>
                    <hr/>

                    <app-button [btnName]="btnName" (message)="getMessage($event)"></app-button>

                    <hr/>
                    <hr/>

                    
                    
                    <div class="col-md-12" formArrayName="items">
                      <ng-container *ngFor="let item of form.get('items').controls; let i=index">
                        <input type="checkbox" [checked]="item.value" [formControlName]="i" (change)="changeOption()" />
                      </ng-container>
                    </div>
                    
                    <hr/>
                    <hr/>
                    
                    <div class="col-md-12">
                      <fieldset>
                        <button (click)="openModal()" class="form-control">Open modal</button>
                      </fieldset>
                    </div>
                    
                    <div class="col-md-12">
                      <fieldset>
                        <button (click)="onSubmit()" class="btn">Send Message</button>
                      </fieldset>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>