<div class="container">
    <div class="row">
        <h1 class="flex">Mladen Housekeeping</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option *ngFor="let filter of filters" [value]="filter.name" (click)="filterData($event, filter)">
                        {{ filter.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="col-xs-9">
            <div class="right">
                <button mat-button (click)="changeVisibilityOfColumns();">
                    <mat-icon>view_carousel</mat-icon>
                    <span> Show / Hide Columns </span>
                </button>
                
                <mat-selection-list (selectionChange)="addRemoveColumn(ddlColumns.selectedOptions.selected)" #ddlColumns>
                    <mat-list-option [@showColumnsList]="isVisibleColumnsList" [value]="column.name" [selected]="column.display" *ngFor="let column of columns" class="matListOption">
                        {{ column.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            
                <mat-form-field appearance="outline">
                        <mat-label>Housekeepers</mat-label>
                        <mat-chip-list #housekeeperChipList>
                          <mat-chip *ngFor="let housekeeper of housekeepers" selectable="true" removable="true" (removed)="remove('housekeeper',housekeeper)">
                            {{ housekeeper }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>

                          <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" -->
                          <input
                            #housekeeperInput
                            [formControl]="housekeeperCtrl"
                            [matAutocomplete]="housekeeperAuto"
                            [matChipInputFor]="housekeeperChipList"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="add('housekeeper',$event)">
                        </mat-chip-list>
                        <mat-autocomplete #housekeeperAuto="matAutocomplete" (optionSelected)="selected('housekeeper',$event)">
                          <mat-option *ngFor="let housekeeper of filteredHousekeepers | async" [value]="housekeeper">
                            {{ housekeeper }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

        </div>
    </div>




    <div class="row">
            <div class="col-xs-12">
                
                    <mat-form-field appearance="outline">
                            <mat-label>Statuses</mat-label>
                            <mat-chip-list #statusChipList>
                              <mat-chip *ngFor="let status of statuses" selectable="true" removable="true" (removed)="remove('status',status)">
                                {{ status }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
    
                              <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" -->
                              <input
                                #statusInput
                                [formControl]="statusCtrl"
                                [matAutocomplete]="statusAuto"
                                [matChipInputFor]="statusChipList"
                                matChipInputAddOnBlur="true"
                                (matChipInputTokenEnd)="add('status',$event)">
                            </mat-chip-list>
                            <mat-autocomplete #statusAuto="matAutocomplete" (optionSelected)="selected('status',$event)">
                              <mat-option *ngFor="let status of filteredStatuses | async" [value]="status">
                                {{ status }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
    
            </div>
        </div>





    <ng-container *ngFor="let table of dataSources; let index = index">
        <!-- <h2>{{ table }}</h2> -->
        <div class="row marginBottom30">
            <!-- <form formGroup="formMladenCustomFields"> -->
                <mat-table [dataSource]="table" matSort (matSortChange)="sorting($event, index)">
                    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ column.displayName }}
                        </mat-header-cell>
                        
                            <mat-cell *matCellDef="let row; let i = index;"  >
                                <!-- <ng-container *ngIf="row['housekeeper'] == table"> -->
                                <ng-container *ngIf="column.name === 'edit'; else notEdit;">
                                    <button color="primary" mat-flat-button>Edit</button>
                                </ng-container>
                                
                                <ng-template #notEdit>
                                    <ng-container *ngIf="column.name !== 'chb'; else chb;">
                                        {{ row[column.name] }}
                                    </ng-container>
                                </ng-template>
                                
                                <ng-template #chb>
                                    <ng-container>
                                        <mat-checkbox (change)="onCheck($event)" [value]="row['id']"></mat-checkbox>
                                    </ng-container>
                                </ng-template>
                            <!-- </ng-container> -->
                            </mat-cell>
    
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
                </mat-table>
    
                <mat-paginator [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
            <!-- </form> -->
        </div>
    </ng-container>


    <div class="row marginBottom30">
        <button color="primary" mat-flat-button routerLink="/" class="matButtonCancel marginRight20">Home</button>
        <!-- <button color="warn" mat-flat-button routerLink="/" class="matButtonCancel marginRight20" (click)="delete()">Delete</button>
        <button color="primary" mat-flat-button class="matButtonCancel" (click)="openDialog()">Add</button> -->
    </div>
</div>

