<div class="container">
	<div class="loginForm">
		<form [formGroup]="loginForm">
			<div class="row">
				<h1>Login Form</h1>
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>Username</mat-label>
					<input type="text" matInput formControlName="username" />
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password" />
				</mat-form-field>
			</div>
			<div class="row">
				<button mat-flat-button color="primary" (click)="login()">Login</button>
			</div>
		</form>
	</div>
	
	<ul>
		<li><a (click)="selectHotel()"></a></li>
	</ul>
</div>
