<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top">
                    <div class="logo"></div>
                </a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="" >Home</a></li>
                    <!-- <li><a routerLink="/contact" data-id="contact" >Contact</a></li>
                    <li><a routerLink="/order-products">Order Products</a></li>
                    <li><a routerLink="/mladen-custom-fields">Custom Fields</a></li>
                    <li><a routerLink="/profiles-guest">Profiles Guests</a></li>
                    <li><a routerLink="/profiles">Profiles Edit</a></li> -->
                    <li><a routerLink="/auth">Login</a></li>
                    <li><a routerLink="/rooms">Rooms</a></li>
                    <li><a routerLink="/housekeeping">Housekeeping</a></li>
                    
                    
                    
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->
