<div class="row">
  <ng-container *ngFor="let clock of clocks">
      <div class="col-xs-4">
        <div class="clock">
            <h2>{{ clock.name }}</h2>
            <span class="hour">{{ clock.hours }}:</span>
            <span class="min">{{ clock.minutes }}:</span>
            <span class="second">{{ clock.seconds }}</span>
          </div>
      </div>
  </ng-container>
</div>