<div class="container">
    <div class="row">
        <h1 class="flex">Order Products</h1>
    </div>
    <hr/>

    <div class="row">
        <div class="col-xs-3">
            <!-- outline, legacy (default), standard, fill -->
            <mat-form-field appearance="outline" class="matSearch">
                <mat-label>Search Product</mat-label>
                <input type="text" matInput (keyup)="onSearch(searchValue.value)" #searchValue />
                <!-- matPrefix i matSuffix -> pitati -->
                <span matSuffix><mat-icon>search</mat-icon></span> 
            </mat-form-field>
        </div>

        <div class="col-xs-9">
            <!-- mat-form-field ne za button -->
            <!-- <mat-button> ? -->
            <div class="buttonSelectContainer right">
                <button mat-button class="right" (click)="toggleListOfColumns()" >
                    <mat-icon>view_carousel</mat-icon>
                    <span> Show / Hide Columns </span>
                </button>
                <mat-selection-list (selectionChange)="addRemoveColumn(ddlColumns.selectedOptions.selected)"
                [@openClose]="isListOfColumnsOpen" #ddlColumns class="matSelectionList"> 
                    <mat-list-option [value]="column.name" ng-model="myCheckbox" class="matListOption" [selected]="column.isDisplayed" *ngFor="let column of columns;" ><p>{{ column.displayName }}</p></mat-list-option>
                    <!-- (click)="addRemoveColumn($event, column.name);" -->
                </mat-selection-list>
            </div>
        </div>
    </div>

    <div class="row matTableContainer">
        <form [formGroup]="formOrderProducts">
            <div formArrayName='items'>

                <table mat-table [dataSource]="orderProducts" class="matTable" matSort>

                        <ng-container *ngFor="let i of columns; let index = index;" matColumnDef="{{ i.name }}" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ i.displayName }} </th>
                            <ng-container *ngIf="i.name === 'order1' || i.name === 'order2'; else notEditable;">
                                <td mat-cell *matCellDef="let element; let rowIndex = index"> 
                                    <ng-container [formGroupName]="rowIndex">
                                    <input type="number" formControlName='{{i.name}}' />
                                </ng-container>
                            </td>
                            </ng-container>
                            <ng-template #notEditable>
                                <td mat-cell *matCellDef="let element; let rowIndex = index"> 
                                    <ng-container [formGroupName]="rowIndex">
                                        <input type="hidden" formControlName='name' />
                                        <input type="hidden" formControlName='id' />
                                        
                                            {{ element[i.name] }} 
                                    </ng-container>
                                </td>
                                    
                            </ng-template>
                        </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>    
                        
                        <!-- <ng-container matColumnDef="productName">
                            <th mat-header-cell *matHeaderCellDef> Name. </th>
                            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="order1">
                            <th mat-header-cell *matHeaderCellDef> o1. </th>
                            <td mat-cell *matCellDef="let element"> {{element.order1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="order2">
                            <th mat-header-cell *matHeaderCellDef> o2. </th>
                            <td mat-cell *matCellDef="let element"> {{element.order2}} </td>
                        </ng-container> -->
                                                
                        <!-- --------------------------------------------------------------------------- -->
            
                            <!-- <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                <tr mat-header-row *matHeaderRowDef="columns.displayName"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columns.displayName"></tr>
                                  </ng-container> -->
                    </table>
                </div>

        </form>


        <mat-paginator [pageSize]='defaultPage' [pageSizeOptions]='pageSizeOptions'></mat-paginator>

        <button mat-flat-button color="primary" routerLink="/" class="matButtonCancel">Cancel</button>

        <button mat-flat-button color="primary"class="matButtonCancel" (click)="onSave()">Save</button>
        

    </div>

</div>
