<div class="container marginTopBottom">
    <div class="row">
        <h1 class="flex marginBottom30">Create Profile Guest</h1>
        
    </div>
    <form [formGroup]="formGroup">
        <ng-container formArrayName='items'>
        <!-- <ng-container formArrayName="formArray"> -->
            <ng-container *ngFor="let item of dataSource; let i = index;">
                        <div class="row">
                            <div class="col-xs-12 flex">
                                <ng-container *ngIf="item.type == 'TEXT'; else textarea;">
                                    <mat-form-field appearance="outline" class="col-xs-8">
                                        <mat-label>{{ item.label }}</mat-label>
                                        <input formControlName="{{i}}" type="text" matInput />
                                    </mat-form-field>
                                </ng-container>

                                <ng-template #textarea>
                                    <ng-container *ngIf="item.type == 'TEXTAREA'; else select;">
                                        <mat-form-field appearance="outline" class="col-xs-8">
                                            <mat-label>{{ item.label }}</mat-label>
                                            <textarea formControlName="{{i}}" matInput></textarea>
                                        </mat-form-field>
                                    </ng-container>
                                </ng-template>
                    
                                <ng-template #select>
                                    <ng-container *ngIf="item.type == 'SELECT'; else multiSelect;">
                                        <mat-form-field appearance="outline" class="col-xs-8">
                                            <mat-label>{{ item.label }}</mat-label>
                                            <mat-select matNativeControl formControlName="{{i}}">
                                                <mat-option [value]="option.id" *ngFor="let option of item.options" > 
                                                    {{ option.optionValue }} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </ng-template>
                    
                                <ng-template #multiSelect>
                                    <ng-container *ngIf="item.type == 'MULTISELECT'; else date;">
                                        <mat-form-field appearance="outline" class="col-xs-8">
                                            <mat-label>{{ item.label }}</mat-label>
                                            <mat-select matNativeControl multiple formControlName="{{i}}">
                                                <mat-option [value]="option.id" *ngFor="let option of item.options"> 
                                                    {{ option.optionValue }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </ng-template>
                        
                                <ng-template #date>
                                    <ng-container *ngIf="item.type == 'DATE'">
                                        <mat-form-field appearance="outline" class="col-xs-8">
                                            <input formControlName="{{i}}" matInput [matDatepicker]="datePicker" />
                                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #datePicker></mat-datepicker>
                                        </mat-form-field>
                                    </ng-container>
                                </ng-template>        
                    
                            </div>
                
                        </div>
                    <!-- </ng-container>         -->
        </ng-container >
    </ng-container>
    </form>
    <div class="flex">
        <button mat-flat-button color="primary" routerLink="/" class="marginRight20">Cancel</button> 
        <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>
</div>