<div class="container">
    <div class="row">
        <h1 class="flex">Mladen Custom Fields</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text" (keyup)="onSearch(search.value)" #search />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-xs-9">
            <div class="right">
                <button mat-button (click)="changeVisibilityOfColumns();">
                    <mat-icon>view_carousel</mat-icon>
                    <span> Show / Hide Columns </span>
                </button>
                
                <mat-selection-list (selectionChange)="addRemoveColumn(ddlColumns.selectedOptions.selected)" #ddlColumns>
                    <mat-list-option [@showColumnsList]="isVisibleColumnsList" [value]="column.name" [selected]="column.display" *ngFor="let column of columns" class="matListOption">
                        {{ column.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>

        </div>
    </div>


    <div class="row marginBottom30">
        <!-- <form formGroup="formMladenCustomFields"> -->
            <mat-table [dataSource]="matDataSource" matSort>
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ column.displayName }}
                    </mat-header-cell>
                    
                        <mat-cell *matCellDef="let row; let i = index;" >
                            <ng-container *ngIf="isCheckbox(column.name); else notCheckbox;">
                                <mat-slide-toggle [checked]="row[column.name]"></mat-slide-toggle>
                            </ng-container>
                            <ng-template #notCheckbox >
                                <ng-container *ngIf="column.name === 'edit'; else notEdit;">
                                        <button (click)="openDialog(row['id'])" class="c-smileyButton">
                                            <div class="c-smileyButton__hoverListener"></div>
                                            <div class="c-smileyButton__hoverListener"></div>
                                            <span class="c-smileyButton__face"></span>
                                            &nbsp;Edit
                                        </button>
                                </ng-container>
                            </ng-template>
                            <ng-template #notEdit>
                                <ng-container *ngIf="column.name !== 'options'; else options;">
                                        {{ row[column.name] }}
                                </ng-container>
                            </ng-template>
                            <ng-template #options>
                                <ul>
                                    <li *ngFor="let option of row['options']">
                                        {{ option.optionValue }} 
                                        <br/>
                                    </li>
                                </ul>
                            </ng-template>
                        </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

            <mat-paginator [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        <!-- </form> -->
    </div>

    <div class="row marginBottom30">
        <button color="primary" mat-flat-button routerLink="/" class="matButtonCancel marginRight20">Home</button>
        <button color="primary" mat-flat-button class="matButtonCancel" (click)="openDialog()">Add</button>
    </div>
</div>

