<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Add / Edit Mladen Custom Field</h1>
        </div>
    </div>
    <form [formGroup]="formMladenCustomFields" (ngSubmit)="save()">

        <p class="red" *ngIf="formMladenCustomFields.invalid">
            The data is not in the correct format.
        </p>

        <div class="row">
            <div class="col-xs-12">
                <mat-form-field appearance="outline">
                    <mat-label>Field Name</mat-label>
                    <input formControlName="tbFieldName" type="text" matInput />

                    <mat-error *ngIf="formMladenCustomFields.get('tbFieldName').hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <mat-form-field appearance="outline">
                    <mat-label>Field Type</mat-label>
                    <mat-select (selectionChange)="isAddVisible(ddlFieldType.value)" formControlName="ddlFieldType" #ddlFieldType>
                        <mat-option [value]="field.value" *ngFor="let field of customFieldTypes">
                            {{field.displayValue}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="formMladenCustomFields.get('ddlFieldType').hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div class="col-xs-6">
                <mat-form-field appearance="outline">
                    <mat-label>Order</mat-label>
                    <input formControlName="nmbOrder" type="number" matInput />

                    <mat-error *ngIf="formMladenCustomFields.get('nmbOrder').hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <mat-checkbox formControlName="chbRequired">Required</mat-checkbox>
            </div>
            <div class="col-xs-4">
                <mat-checkbox formControlName="chbStatusForGuest">Status For Guest</mat-checkbox>
            </div>
            <div class="col-xs-4">
                <mat-checkbox formControlName="chbStatusForReservation">Status For Reservation</mat-checkbox>
            </div>
        </div>

        <ng-container *ngIf="isAddOptionVisible">
            <div class="row">
                <div class="col-xs-12">
                    <button color="primary" mat-flat-button class="matButtonCancel" (click)="addOptionButtonClick()">Add Option</button>
                </div>
                <hr>
            </div>

            <ng-container formArrayName="options" *ngFor="let option of formMladenCustomFields.get('options').controls; let i = index;">

                <div class="row">
                    <div [formGroupName]='i'>
                        <input type="hidden" formControlName="guestCustomFieldId" />
                        <input type="hidden" formControlName="id" />
                        
                        <div class="col-xs-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Option Value</mat-label>
                                <input type="text" matInput formControlName="tbOptionValue" [id]="'tbOptionValue'+i" />

                                <mat-error *ngIf="option.get('tbOptionValue').hasError('required')">
                                    This field is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Priority</mat-label>
                                <input type="number" matInput formControlName="nmbPriority" [id]="'nmbPriority'+i">

                                <mat-error *ngIf="option.get('nmbPriority').hasError('required')">
                                    This field is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-4">
                            <button mat-raised-button color="warn" (click)="removeOption(i)">Remove</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <input type="hidden" [value]="id" />
        <div class="row">
            <div class="col-xs-12">
                <button color="primary" mat-flat-button class="matButtonCancel marginRight20" [disabled]="isSaveDisabled()">Save</button>
                <button color="primary" mat-flat-button class="matButtonCancel" (click)="close()">Close</button>
            </div>
        </div>
    </form>
</div>
