<div class="container">
    <div class="row">
        <h1 class="flex">Profiles Edit</h1>
        <hr>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="search(searchInput.value)" #searchInput />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="right">
            <button mat-button (click)="changeVisibilityOfColumnsList()">
                <mat-icon matPreffix>view_carousel</mat-icon>
                Show / Hide Columns
            </button>

            <mat-selection-list [@showColumnsList]="visibilityOfColumns" (selectionChange)="addRemoveColumn(ddlColumns.selectedOptions.selected)" #ddlColumns>
                <mat-list-option [selected]="column.display" *ngFor="let column of columns;" [value]="column.name">
                    {{column.displayName}}
                </mat-list-option>
            </mat-selection-list>

        </div>

    </div>







    <div class="row marginBottom30">
        <!-- <form formGroup="formMladenCustomFields"> -->
            <mat-table [dataSource]="matDataSource" matSort>
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ column.displayName }}
                    </mat-header-cell>
                    
                        <mat-cell *matCellDef="let row; let i = index;" >
                            <!-- <ng-container *ngIf="isCheckbox(column.name); else notCheckbox;">
                                <mat-slide-toggle [checked]="row[column.name]"></mat-slide-toggle>
                            </ng-container>
                            <ng-template #notCheckbox > -->
                                <ng-container *ngIf="column.name === 'edit'; else select;">
                                        <button (click)="openDialog(row['id'])" mat-flat-button color="primary">
                                            Edit
                                        </button>
                                </ng-container>
                            <!-- </ng-template> -->

                            <ng-template #select>
                                <ng-container *ngIf="column.select === true; else notEdit;">
                                        
                                        {{ findSelectedValue(column.name, row[column.name]) }}
                                        <!-- column.name = field_16 -->
                                        <!-- row['field_16'] = 5 -->
                                        
                                </ng-container>
                            </ng-template>


                            <ng-template #notEdit>
                                <ng-container *ngIf="column.multiSelect === false; else options;">
                                        {{ row[column.name] }}
                                </ng-container>
                            </ng-template>
                            <ng-template #options>
                                <ul>
                                    <li *ngFor="let option of row[column.name]">
                                        {{  findSelectedValue(column.name, option) }} 
                                        <br/>
                                    </li>
                                </ul>
                            </ng-template>
                        </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

            <mat-paginator [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>

        <!-- </form> -->
    </div>

    <div class="row marginBottom30">
        <button color="primary" mat-flat-button routerLink="/" class="matButtonCancel marginRight20">Home</button>
    </div>


</div>