<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Add / Edit Rooms</h1>
        </div>
    </div>
    <form [formGroup]="formRooms" (ngSubmit)="save()">

        <ng-container *ngIf="id === null">
            <div class="row">
                <mat-radio-group class="radioButtons">
                    <mat-radio-button *ngFor="let option of roomOptions" [value]="option.value" (change)="changeRadioButton($event)" [checked]="option.value === roomOption">
                        <p class="radioButton">{{ option.displayName }}</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </ng-container>

        <p class="red" *ngIf="formRooms.invalid && formRooms.touched">
            The data is not in the correct format.
        </p>

        <ng-container *ngIf="roomOption === 'single' || id !== null; else multipleComma;">
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Room Code</mat-label>
                        <input autocomplete="off" formControlName="title" matInput />
    
                        <mat-error *ngIf="formRooms.get('title').hasError('required')">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>

        <ng-template #multipleComma>
            <ng-container *ngIf="roomOption === 'multipleComma' else multipleIncremental;">
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Room Code</mat-label>
                            <textarea autocomplete="off" formControlName="title_multiple" matInput></textarea>
        
                            <mat-error *ngIf="formRooms.get('title_multiple').hasError('required')">
                                This field is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>            
            </ng-container>
        </ng-template>

        <ng-template #multipleIncremental>
                <ng-container *ngIf="roomOption === 'multipleIncremental'">
                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Prefix*</mat-label>
                                <input autocomplete="off" formControlName="firstIncremental" matInput />
                                <mat-error *ngIf="formRooms.get('firstIncremental').hasError('required')">
                                    This field is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-xs-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>From*</mat-label>
                                    <input type="number" autocomplete="off" formControlName="secondIncremental" matInput />
    
                                    <mat-error *ngIf="formRooms.get('secondIncremental').hasError('required')">
                                        This field is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>To*</mat-label>
                                    <input type="number" autocomplete="off" formControlName="thirdIncremental" matInput />
    
                                    <mat-error *ngIf="formRooms.get('thirdIncremental').hasError('required')">
                                        This field is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
        

                </ng-container>
            </ng-template>
            


        <div class="row">
            <div class="col-xs-12">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="roomTypeId" [matAutocomplete]="auto">
                    <mat-label>Room Type</mat-label>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let type of roomTypes" [value]="type.title">{{ type.title }}</mat-option>
                    </mat-autocomplete>

                    <mat-error *ngIf="formRooms.get('roomTypeId').hasError('required')">
                        This field is required.
                    </mat-error>            
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="floorId" [matAutocomplete]="autoFloors">
                    <mat-label>Floor</mat-label>
                    <mat-autocomplete #autoFloors="matAutocomplete">
                        <mat-option *ngFor="let floor of floors" [value]="floor.title">{{ floor.title }}</mat-option>
                    </mat-autocomplete>

                    <mat-error *ngIf="formRooms.get('floorId').hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
            </div>

        <div class="row">
            <div class="col-xs-12">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="roomClassId" [matAutocomplete]="autoRoomClasses">
                    <mat-label>Room Class</mat-label>
                    <mat-autocomplete #autoRoomClasses="matAutocomplete">
                        <mat-option *ngFor="let class of roomClasses" [value]="class.name">{{ class.name }}</mat-option>
                    </mat-autocomplete>

                    <mat-error *ngIf="formRooms.get('roomClassId').hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <input type="hidden" formControlName="id" />
        <div class="row">
            <div class="col-xs-12">
                <button color="primary" mat-flat-button class="matButtonCancel marginRight20" [disabled]="isSaveDisabled()">Save</button>
                <button color="primary" mat-flat-button class="matButtonCancel" (click)="close()">Close</button>
            </div>
        </div>

    </form>
</div>
