mat-form-field {
    width: 100%;
}
.container {
    width: 550px;
}
.radioButtons {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.radioButton {
    margin: 2px;
    font-size: 16px;
    font-weight: normal;
}