/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    border-color: black;
}
input[type="text"] {
    width: 100px;
}
.right {
    float: right;
}
.matSelectionList {
    margin-top: 50px;
    background: white;
}
.matListOption {
    padding: 0px;
    width: auto;
}
.matListOption p {
    font-size: 10px;
}
/* .matSelectionList .mat-select-arrow {
    visibility: hidden;
} */
.buttonSelectContainer {
    height: 130px;
    width: 250px;
}
.matSearch {
    width: 300px;
}
.matTable {
    width: 100%;
}
.matTableContainer {
    margin: 0px auto 50px auto;
    width: 100%;
    padding: 20px
}
.matButtonCancel {
    margin-top: 30px !important;
}
input[type='number'] {
    border: none;
}

.marginBottom30 {
    margin-bottom: 30px !important;
}
.marginRight20 {
    margin-right: 25px !important;
}
.red {
    color: red;
}
.editMatButton {
    background: #47d147;
    color: white;
}
.marginTopBottom {
    margin: 50px 0px;
}